# Variables de entorno
.env
*.env

# Maven / Spring
target/
build/

# IDEs
.idea/
*.iml
nbproject/
.vscode/

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# Sistema operativo
Thumbs.db
Desktop.ini

# Logs
logs/
*.log

# Archivos comprimidos
*.zip
*.rar
*.7z

# Notas personales
*.txt

